.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #456268;
  color: #f9f9f9;
  padding: 0 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.signed-in-as {
  margin-right: 20px; /* Or whatever spacing you prefer */
}

.sign-out-button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #626c6d; /* Red color for sign out to indicate action */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.sign-out-button:hover {
  background-color: hsl(206, 15%, 72%); /* Darker red on hover */
}
