.shelter {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7f7f7;
    margin-bottom: 10px; /* Space between entries */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  }
  
  .shelter-name,
  .shelter-address {
    flex: 1 1 auto; /* Both name and address take up equal space */
    margin: 0 10px; /* Spacing between text and icons */
    width: 100px; /* Updated width for labels */
  }
  
  .shelter-name p,
  .shelter-address p {
    overflow-wrap: break-word; /* Wrap long words */
    margin: 0; /* Remove default paragraph margins */
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .shelter-icon {
    flex: 0 0 auto; /* Do not grow or shrink */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Spacing from the address or content */
  }
  
  .shelter-icon .fa-plus-circle {
    font-size: 40px;
    cursor: pointer;
  }
  
  /* Add hover effect for interactivity */
  .shelter:hover {
    background-color: #eaeaea;
  }
  
  /* Optional: Add media queries for responsive adjustments */
  @media (max-width: 750px) {
    .shelter-name p,
    .shelter-address p {
      font-size: 14px; /* Smaller font size on smaller screens */
    }
  }
  