@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
/*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />*/

/* base styles */
* {
  margin: 1px;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #0056b3;
}
.navbar h1 {
  color: #f8f8f8;
  font-size: 30px;
}
.navbar .links {
  margin-left: auto;
  font-size: 20px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #f8f8f8;
}
.navbar a:hover {
  color: #faab02;
}
.content {
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.search-section {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-bar{
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  width: 420px;
  height: 55px;
  border-color: #faab02;

}
.select-bar:hover {
  border-width: 3px;
  border-color: #0056b3;
}
.select-bar:focus {
  border-width: 3px;
  outline: none;
  border-color: #0056b3;
}


.shortcut-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  margin: 0 10px;
  border-width: 2px;
  border-color: #faab02;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  width: 300px;
  height: 150px;
  font-size: 70px;
}

button:hover {
  background-color: rgba(250, 171, 2, 0.63);
  /*border-color: #0056b3;*/
  border-width: 2px;
}
.search-button{
  border-radius: 25px;
  border:  none;
  width: 50px;
  height: 50px;
  background-color: #faab02;
}

.shortcut-buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.home-page{
  max-width: inherit;
  height: 45vh; /* Set the height of the top half to half of the viewport height */
  background-image: url('src/assets/Why-do-dogs-pantHERO.jpg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire area with the background image */
  background-position: center;
  padding: 40px;
  align-items: center;
  /*margin: 0 auto;*/

}
.search-component{
  margin: 70px auto;
  padding: 40px;
}
