.admin-homepage {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    height: 100vh; /* Full viewport height */
  }

  .amdin-search-bar {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .amdin-search-bar input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #0056b3;
    border-radius: 5px;
  }
  
  .admin-main-content {
    display: flex;
    flex: 1; /* Take up all available space */
  }
  
  .amdin-sidebar {
    width: 250px;
    background-color: #3e8de2;
    padding: 20px;
    color: #fff;
  }
  
  .amdin-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .amdin-sidebar ul li {
    padding: 20px 10px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
  }
  
  .amdin-sidebar ul li:hover {
    background-color: hsl(206, 15%, 72%);
  }
  
  .admin-icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .admin-content {
    flex: 1; /* Grow to use available space */
    padding: 20px;
    background-color: #eceff1;
    color: #546e7a;
    overflow-y: auto; /* Add scroll for overflow content */
  }
  
  /* Add responsive design rules if needed */
  